SOA/WSDLs/ProxySvc_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    
     targetNamespace="http://svc.rentacar.com.br"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://org.apache.axis2/xsd"
     xmlns:ns="http://svc.rentacar.com.br"
     xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:documentation>ProxySvc</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://svc.rentacar.com.br">
            <xs:element name="PaymentAuthorized">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dscCobranca" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="numCC" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="numCVC" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="valCobranca" type="xs:double"/>
                        <xs:element minOccurs="0" name="numParcelas" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PaymentAuthorizedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsCNHValid">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cnh" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsCNHValidResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsCCValid">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bandeira" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cvc" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsCCValidResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="IsCNHValidRequest">
        <wsdl:part name="parameters" element="ns:IsCNHValid"/>
    </wsdl:message>
    <wsdl:message name="IsCNHValidResponse">
        <wsdl:part name="parameters" element="ns:IsCNHValidResponse"/>
    </wsdl:message>
    <wsdl:message name="PaymentAuthorizedRequest">
        <wsdl:part name="parameters" element="ns:PaymentAuthorized"/>
    </wsdl:message>
    <wsdl:message name="PaymentAuthorizedResponse">
        <wsdl:part name="parameters" element="ns:PaymentAuthorizedResponse"/>
    </wsdl:message>
    <wsdl:message name="IsCCValidRequest">
        <wsdl:part name="parameters" element="ns:IsCCValid"/>
    </wsdl:message>
    <wsdl:message name="IsCCValidResponse">
        <wsdl:part name="parameters" element="ns:IsCCValidResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProxySvcPortType">
        <wsdl:operation name="IsCNHValid">
            <wsdl:input message="ns:IsCNHValidRequest" wsaw:Action="urn:IsCNHValid"/>
            <wsdl:output message="ns:IsCNHValidResponse" wsaw:Action="urn:IsCNHValidResponse"/>
        </wsdl:operation>
        <wsdl:operation name="PaymentAuthorized">
            <wsdl:input message="ns:PaymentAuthorizedRequest" wsaw:Action="urn:PaymentAuthorized"/>
            <wsdl:output message="ns:PaymentAuthorizedResponse" wsaw:Action="urn:PaymentAuthorizedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="IsCCValid">
            <wsdl:input message="ns:IsCCValidRequest" wsaw:Action="urn:IsCCValid"/>
            <wsdl:output message="ns:IsCCValidResponse" wsaw:Action="urn:IsCCValidResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProxySvcSoap11Binding" type="ns:ProxySvcPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IsCNHValid">
            <soap:operation style="document" soapAction="urn:IsCNHValid"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PaymentAuthorized">
            <soap:operation style="document" soapAction="urn:PaymentAuthorized"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsCCValid">
            <soap:operation style="document" soapAction="urn:IsCCValid"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxySvcSoap12Binding" type="ns:ProxySvcPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IsCNHValid">
            <soap12:operation style="document" soapAction="urn:IsCNHValid" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PaymentAuthorized">
            <soap12:operation style="document" soapAction="urn:PaymentAuthorized" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsCCValid">
            <soap12:operation style="document" soapAction="urn:IsCCValid" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxySvcHttpBinding" type="ns:ProxySvcPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="IsCNHValid">
            <http:operation location="IsCNHValid"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PaymentAuthorized">
            <http:operation location="PaymentAuthorized"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsCCValid">
            <http:operation location="IsCCValid"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProxySvc">
        <wsdl:port name="ProxySvcHttpSoap11Endpoint" binding="ns:ProxySvcSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ProxySvc.ProxySvcHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProxySvcHttpSoap12Endpoint" binding="ns:ProxySvcSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ProxySvc.ProxySvcHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProxySvcHttpEndpoint" binding="ns:ProxySvcHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ProxySvc.ProxySvcHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
